<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.fhwa.c2cri.logger" status="WARN" monitorInterval="30" dest="log4j_status.log">
	<Appenders>
		<RollingFile name="C2CRIOutput" fileName="C2CRIOutput.dat" append="false" filePattern="C2CRIOutput-%i.dat">
			<RIXMLLayout />
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
			<DefaultRolloverStrategy max="2"/>
		</RollingFile>
	</Appenders>
	
	<Loggers>		
		<Root level="ALL">
			<AppenderRef ref="C2CRIOutput" />
		</Root>
		<Logger name="org.fhwa.c2cri" additivity="false" level="INFO">
			<AppenderRef ref="C2CRIOutput" />
		</Logger>
		<Logger name="net.sf.jameleon" additivity="false" level="INFO">
			<AppenderRef ref="C2CRIOutput" />
		</Logger>
	</Loggers>
	
</Configuration>
