dist/
C2CRIReportsDBLibrary/build
jameleon-test-suite-3_3-RC1-C2CRI/jameleon-core/*.log
jameleon-test-suite-3_3-RC1-C2CRI/jameleon-core/Build/jameleon-core.properties
jameleon-test-suite-3_3-RC1-C2CRI/jameleon-core/Build/net
jameleon-test-suite-3_3-RC1-C2CRI/jameleon-core/C2CRIDebugTest.dbg
jameleon-test-suite-3_3-RC1-C2CRI/jameleon-core/target
jameleon-test-suite-3_3-RC1-C2CRI/ri-plugin/*.zip
jameleon-test-suite-3_3-RC1-C2CRI/ri-plugin/Build
jameleon-test-suite-3_3-RC1-C2CRI/ri-plugin/lib/RICenterServices.jar
jameleon-test-suite-3_3-RC1-C2CRI/ri-plugin/lib/RITestCaseData.jar
jameleon-test-suite-3_3-RC1-C2CRI/ri-plugin/lib/RI_Properties.jar
NTCIP2306v01_69/build
RI_Connections/build
RI_Logging/build
RI_Properties/build
RI_Utilities/build
RICenterServices/build
RIGUI/build
RIGUI/TestSuites/*.jar
RITestCaseData/build
RITestCaseDefinitions/build
TMDDCommon/Build
TMDDProcessingUtilities/build
TMDDv31/build
TMDDv303/build
TMDDv303d/build

